<div class="container login-container login-form-1">
    <div class="row">
    <!--<img class="left" src="assets/logo2.png">-->
      <div class="col-md-12 center-text">
        <br>
        <h3><u><b>Contact person:</b> </u></h3>
        <br>
        <p class="center-text"> {{ wish.requestorName }} | {{ wish.requestorEmail }} | {{ wish.requestorPhoneNumber }}</p>
        <br>
        <hr>
        <h3><u><b>Wish:</b> </u></h3>
        <br>
        <p>Title: {{ wish.title }}</p>
        <p>{{ wish.description }}</p>
        <p>Location: {{ wish.location }}</p>
        <p >Date: {{ wish.date }}</p>
        <br>
        <hr>
        <h3><u><b>Patient:</b> </u></h3>
        <br>
        <p>First Name: {{ wish.patient.firstname }}</p>
        <p>Last Name: {{ wish.patient.lastname }}</p>
        <p>Email: {{ wish.patient.email }}</p>
        <p>Address: {{ wish.patient.address }}</p>
        <p>Birthday: {{ wish.patient.birthDate }}</p>
        <p>Pickup Location: {{ wish.patient.pickupLocation }}</p>
        <p>DNR Code: {{ wish.patient.DNRCode }}</p>
        <p>Accessibility: {{ wish.patient.accessibility }}</p>
        <p>Medical Notes: {{ wish.patient.medicalNotes }}</p>
        <br>
        <hr>
        <h3><u><b>Volunteers:</b> </u></h3>
        <br>
      <p *ngFor="let volunteer of wish.volunteers">{{ volunteer.firstname}} {{volunteer.lastname}}</p>
    </div>
  </div>
