<div class="container login-container login-form-1">
    <div class="row">
    <!--<img class="left" src="assets/logo2.png">-->
      <div class="col-md-12 center-text">
        <br>
        <h3><u><b>Contactpersoon:</b> </u></h3>
        <br>
        <p class="center-text"> {{ wish.requestorName }} | {{ wish.requestorEmail }} | {{ wish.requestorPhoneNumber }}</p>
        <br>
        <hr>
        <h3><u><b>Wens:</b> </u></h3>
        <br>
        <p>Titel: {{ wish.title }}</p>
        <p>{{ wish.description }}</p>
        <p>Locatie: {{ wish.location }}</p>
        <p >Datum: {{ wish.date | date }}</p>
        <br>
        <hr>
        <h3><u><b>Patiënt:</b> </u></h3>
        <br>
        <p>Voornaam: {{ wish.patient.firstname }}</p>
        <p>Achternaam: {{ wish.patient.lastname }}</p>
        <p>Email: {{ wish.patient.email }}</p>
        <p>Adres: {{ wish.patient.address }}</p>
        <p>Geboortedatum: {{ wish.patient.birthDate | date }}</p>
        <p>Ophaallocatie: {{ wish.patient.pickupLocation }}</p>
        <p>DNR Code: {{ wish.patient.DNRCode }}</p>
        <p>Toegankelijkheid: {{ wish.patient.accessibility }}</p>
        <p>Medische nota's: {{ wish.patient.medicalNotes }}</p>
        <br>
        <hr>
        <h3><u><b>Vrijwilligers:</b> </u></h3>
        <br>
      <p *ngFor="let volunteer of wish.volunteers">{{ volunteer.firstname}} {{volunteer.lastname}}</p>
    </div>
  </div>
