<div class="container login-container login-form-1">
    <div class="row">
    <!--<img class="left" src="assets/logo2.png">-->
      <div class="col-md-4">
        <h1><u>Contact person: </u></h1>
        <p class="center-text">Name: {{ wish.requestorName }}</p>
        <p class="center-text">email: {{ wish.requestorEmail }}</p>
        <p class="center-text">phone: {{ wish.requestorPhoneNumber }}</p>
      </div>
      <div class="col-md-8">
        <h1><u>Wish: </u></h1>
      </div>
    </div>
  </div>
