<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
  <a href="javascript:void(0);" (click)="navigate('/')" class="mr-2"><img src="assets/logo.png" width="50" height="50"></a>
  <a href="javascript:void(0);" (click)="navigate('/my-wishes')" class="mr-3"><span [innerHTML]="'heart' | feather:16"></span> Mijn wensen</a>
  <a href="javascript:void(0);" (click)="navigate('/profile')" class="mr-3"><span [innerHTML]="'settings' | feather:16"></span> Profiel</a>
  <div class="ml-auto"></div>
  <a href="javascript:void(0);" *ngIf="!isVolunteer()" (click)="navigate('/wishes')" class="mr-3"><span [innerHTML]="'heart' | feather:16"></span> Alle wensen</a>
  <a href="javascript:void(0);" *ngIf="!isVolunteer()" (click)="navigate('/volunteers')" class="mr-3"><span [innerHTML]="'users' | feather:16"></span> Vrijwilligers</a>
  <a href="javascript:void(0);" *ngIf="!isVolunteer()" (click)="navigate('/patients')" class="mr-3"><span [innerHTML]="'users' | feather:16"></span> Patiënten</a>
</nav>
