<div class="container-fluid row">
  <div class="col-xs-0 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
  <div class="card col-xs-12 col-sm-7 col-md-7 col-lg-7 col-xl-6 mt-4">
    <h5 class="card-header">
      {{user.firstname}}'s profile<br>
    </h5>
    <div class="card-body">
      <form [formGroup]="userForm">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="username">Username</label>
              <input formControlName="username" type="text" value="{{user.username}}" class="form-control" id="username" placeholder="Typ here...">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="firstname">Firstname</label>
              <input formControlName="firstname" type="text" value="{{user.firstname}}" class="form-control" id="firstname" placeholder="Typ here...">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="lastname">Lastname</label>
              <input formControlName="lastname" type="text" value="{{user.lastname}}" class="form-control" id="lastname" placeholder="Typ here...">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="email">Email</label>
              <input formControlName="email" type="email" value="{{user.email}}" class="form-control" id="email" placeholder="Typ here...">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="address">Address</label>
              <input formControlName="address" type="text" value="{{user.address}}" class="form-control" id="address" placeholder="Typ here...">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="ssn">Social Security Number</label>
              <input formControlName="ssn" type="text" value="{{user.ssn}}" class="form-control" id="ssn" placeholder="Typ here...">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="certificate">Certificate</label>
              <input formControlName="certificate" type="text" value="{{user.certificate}}" class="form-control" id="certificate" placeholder="Typ here...">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="medicalScreening">Medical Screening</label>
              <input formControlName="medicalScreening" type="text" value="{{user.medicalScreening | date}}" class="form-control" id="medicalScreening" disabled="true">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="shirtSize">Shirt Size</label>
              <input formControlName="shirtSize" type="text" value="{{user.shirtSize}}" class="form-control" id="shirtSize" placeholder="Typ here...">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="badgeNumber">Badge Number</label>
              <input formControlName="badgeNumber" type="text" value="{{user.badgeNumber}}" class="form-control" id="badgeNumber" disabled="true">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="badgeExpirationDate">Badge Expiration Date</label>
              <input formControlName="badgeExpirationDate" type="test" value="{{user.badgeExpirationDate | date}}" class="form-control" id="badgeExpirationDate" disabled="true">
            </div>
          </div>
        </div>
        <div class="row">
          <button href="javascript:void(0);" (click)=onSubmit() class="btn btn-primary" ><span [innerHTML]="'save' | feather:16"></span> Change data</button>
          <a href="javascript:void(0);" class="btn btn-danger ml-2" data-toggle="modal" data-target="#confirm-delete-item"><span [innerHTML]="'trash-2' | feather:16"></span> Delete profile</a>
        </div>
      </form>
    </div>
  </div>
  <!-- <div class="col-xs-0 col-sm-4 col-md-4 col-lg-4 col-xl-5">
    <a class="btn btn-primary btn-xl js-scroll-trigger mt-4" (click)="logout()" href="javascript:void(0);"><span [innerHTML]="'log-out' | feather:16"></span> Logout</a>
  </div> -->
</div>

<div class="modal fade" id="confirm-delete-item" tabindex="-1" role="dialog" *ngIf="user">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span [innerHTML]="'alert-triangle' | feather:16"></span>
        <button class="close" type="button" data-dismiss="modal">
          <span aria-hidden="true"><span [innerHTML]="'x' | feather:16"></span></span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are your sure you want to delete your account?<br><br>This means you cannot reverse this action and you will no longer have access to this website!</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal"><span [innerHTML]="'x' | feather:16"></span> No</button>
        <button class="btn btn-danger" data-dismiss="modal" (click)="deleteProfile()"><span [innerHTML]="'trash-2' | feather:16"></span> Yes</button>
      </div>
    </div>
  </div>
</div>
