.login-container{
  margin-top: 5%;
  margin-bottom: 5%;
}

.login-form-1{
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}

.login-form-1 h3 {
  text-align: center;
}

.login-container form{
  padding: 10%;
}

.btnSubmit
{
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}

.login-form-1 .btnSubmit{
  font-weight: 600;
  color: #fff;
}

.login-form-1 .bold{
  font-weight: 600;
  text-decoration: none;
}

p, h1, h2, h3, a {
  color: #00A2AE;
}

.btn {
  background-color: #00A2AE;
  border-color: #00A2AE;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
